/* YourComponent.css */

.card {
    width: 280px;
    color: white;
   
    margin: 10px;
    padding-left: 5px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    transition: transform 0.4s ease-in-out, box-shadow 0.3s ease-in-out;
    cursor: pointer;
  }
  
  .card:hover {
    background-color: #abaaaa;
    
    transform: scale(1.08);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
  