.background-container {
    padding-bottom: 25px;
    background-image: url('https://i.ibb.co/MGL9NXJ/bg.jpg '); /* Replace with your image path */
    background-size: cover; 
    background-position: center; 
    color: white; 
  }
  


  