.background-container {
    height: 100vh; 
    background-image: url('https://i.ibb.co/MGL9NXJ/bg.jpg '); /* Replace with your image path */
    background-size: cover; 
    background-position: center; 
    color: white; 
  }
  

  /* https://i.ibb.co/MGL9NXJ/bg.jpg */
  /* https://i.ibb.co/9nt0TCR/abstract-background-blue-white-g.jpg */